<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.coscup.ccip">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.CCIPApplicaion"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ccip.cprteam.org"
                    android:scheme="http" />
                <data
                    android:host="ccip.cprteam.org"
                    android:scheme="https" />
                <data
                    android:host="login"
                    android:scheme="ccip" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CountdownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProgramDetailActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
    </application>

</manifest>